<%- include ('header'); -%> 

<h1>About The Page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolores saepe animi error dolore nihil, harum ipsum pariatur minus expedita sint ipsa doloribus soluta voluptates libero eligendi aliquid perspiciatis debitis.</p>

<%- include ('footer'); -%> 
